# 0-10 Python challenging programming exercises <br>
# ( in Python 3.x)

# Question 1 :
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

**Hints: 
Consider use range(#begin, #end) method**

# Solution:

In [1]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question 2 :

Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Example:


```
Input: 8
Output: 40320
```



**Hints: In case of input data being supplied to the question, it should be assumed to be a console input.**

# Solution :

In [2]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print (fact(x))

8
40320

# Question 3 :
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included) and then the program should print the dictionary.
Example: 


```
Input: 8
Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
```

**Hints: In case of input data being supplied to the question, it should be assumed to be a console input and consider use dict()**

# Solution :

In [3]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i

print (d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4 :
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Example:


```
Input: 34,67,55,33,12,98
Output: ['34', '67', '55', '33', '12', '98']
        ('34', '67', '55', '33', '12', '98')
```

 **Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple**

# Solution :

In [4]:
values= input()
l=values.split(",")
t=tuple(l)
print (l)
print (t)

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# Question 5 :
Define a class which has at least two methods:


```
getString: to get a string from console input
printString: to print the string in upper case.
```


Also please include simple test function to test the class methods.
Example:


```
Input : HelloWorld
Output: HELLOWORLD
```



**Hints: Use __init__ method to construct some parameters**

# Solution :

In [6]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input()

    def printString(self):
        print (self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

HelloWorld
HELLOWORLD

# Question 6 : 

Question:
Write a program that calculates and prints the value according to the given formula: <br>
Q = Square root of (2*C*D/ H) <br>
Following are the fixed values of C and H:<br>
C is 50. H is 30.<br>
D is the variable whose values should be input to your program in a comma-separated sequence.<br>

```
Example: 

Input: 100,150,180
Output: 18,22,24
```
**Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.**

# Solution :

In [2]:
#!/usr/bin/env python
import math
c=50
h=30
value = []
items=[x for x in input().split(',')]
for d in items:
    value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))

print (','.join(value))

100,150,180
18,22,24

# Question 7 :

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
**Note: i=0,1.., X-1; j=0,1,Y-1**<br>


```
Example:
Input: 3,5
Output: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]
```

 **Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.**

# Solution :

In [3]:
input_str = input()
dimensions=[int(x) for x in input_str.split(',')]
rowNum=dimensions[0]
colNum=dimensions[1]
multilist = [[0 for col in range(colNum)] for row in range(rowNum)]

for row in range(rowNum):
    for col in range(colNum):
        multilist[row][col]= row*col

print (multilist)

3, 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

# Question 8 :

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.


```
Example: 
Input: without,hello,bag,world
Output: bag,hello,without,world
```

**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.**

# Solution :

In [5]:
items=[x for x in input().split(',')]
items.sort()
print (','.join(items))

without,hello,bag,world
bag,hello,without,world

# Question 9 :

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.


```
Example:
Input1 : Hello world        Input2: Practice makes perfect
Output1 : HELLO WORLD       Output2: PRACTICE MAKES PERFECT
```
** Hints: In case of input data being supplied to the question, it should be assumed to be a console input.**

# Solution :

In [7]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;
        
for sentence in lines:
    print (sentence)

Hello world
Practice makes perfect

HELLO WORLD
PRACTICE MAKES PERFECT

#Question 10 :
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
 

```
Example: 
Input : hello world and practice makes perfect and hello world again
Output : again and hello makes perfect practice world
```



**Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use set container to remove duplicated data automatically and then use sorted() to sort the data.**

# Solution :

In [10]:
s = input()
words = [word for word in s.split(" ")]
print (' '.join(sorted(list(set(words)))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world